.header-principal {
    font-weight: bold;
    color: #333333; /* Gris molt fosc */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
body { font-family: sans-serif; background-color: #f0f0f0; }
